body{
    background-color: rgb(223, 244, 244);
    font-family: 'Courier New', Courier, monospace;
}
header{
    h1{
        text-align: center;
        color: #610861;
    }
    .img{
        text-align: center;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: white 5px solid;
            &:hover{
                border: #bc1717 5px solid;
            }
        }
    }
}
main{
    .subt{
        padding: 30px;
        text-align: center;
        color: #bc1717;
    }
    div{
        .compatible{
            padding: 10px;
            h3{
                color: #bc1717;
                text-align: center;
            }
            p{
                color: rgb(109, 6, 6);
            }
        }

    }
}
footer{
    padding: 10px;
    text-align: center;
    color: #610861;

}